<div class="container">
	<div class="row">
		<div class="col"></div>

		<div class="col-6">
			<% @post_images.each do |ps| %>
				<div class="row mt-5">
					<div class="card mx-auto">
						<%# shop名/profile画像クリックで、店舗詳細ページに遷移 %>
						<div class="card-header">
							<%= link_to shop_path(ps.shop.id), :style=>"color:black;" do %>
								<%= attachment_image_tag ps.shop, :profile_image, format:"jpg", fallback: "no_image.png", size: "40", class: "rounded-circle" %>
								<%= ps.shop.name %>
							<% end %>
						</div>
						<div class="card-image">
							<%# 画像クリックで、投稿詳細ページに遷移 %>
							<%= link_to post_image_path(ps.id), :style=>"color:black;" do %>
								<%= attachment_image_tag ps, :image, format:"jpg", fallback: "no_image.png", size:'400' %>
							<% end %>
						</div>
						<div class="card-body">
							<div class="card-title">
								<%= ps.title %>
							</div>
							<div class="card-text">
								<div class="favorite_<%= ps.id %>">
									<%= render "public/post_images/favorite", ps: ps %>
									<%# コメント件数を表示 %>
									<%= ps.comments.count %>コメント
								</div>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<div class="col"></div>
	</div>
</div>