<div class="container">
	<div class="row">
		<div class="col"></div>

		<div class="col-8">
			<div class="row">
				<%# 7/4"フォーマット"は作り手側の表現のため、ページに修正 %>
				<h2>来店予約ページ</h2>
			</div>

			<%= form_for [@shop, @booking] do |f| %>
				<div class="row mt-4">
					<div class="col">
						<%= "アカウント名" %>
					</div>
					<div class="col">
						<%= current_user.name %>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col">
						<%= f.label :datetime, "来店日時" %>
					</div>
					<%# datetime_lochal_fieldで日時の選択 %>
					<div class="col">
						<%= f.datetime_local_field :datetime %>
					</div>
					<div>
						<%# hidden_fieldを用いて、下記２項目を自動的に送信 %>
						<%= f.hidden_field :user_name, value: current_user.name %>
						<%= f.hidden_field :user_email, value: current_user.email %>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-10 text-right">
						<%# 日時登録後来店予約完了ページに遷移 %>
						<%= f.submit "送信", class: "btn btn-primary" %>
						<%# 7/8 shop情報ページに遷移する"戻るボタン"を追加 %>
						<%= link_to "戻る", shop_path(@shop.id), class: "btn btn-info" %>
					</div>
				</div>
			<% end %>
		</div>

		<div class="col"></div>
	</div>
</div>