<div class="container">
	<div class="row">
		<div class="col"></div>

		<div class="col-8 mt-4">
			<div class="row">
				<h2>新規投稿</h2>
			</div>

			<div class="row">
				<%# 画像表示 %>
				<div class="col">
					<div class="row">
						<%= attachment_image_tag @post_image, :image, :fill, 400, 400, format: "jpg", fallback: "no_image.png", size:'300x300' %>
					</div>
				</div>
				<%# 画像ファイル、商品名、金額、紹介文投稿 %>
				<div class="col">
					<%= form_for(@post_image, url: admin_post_images_path) do |f| %>
						<%# 画像ファイル投稿 %>
						<div class="row">
							<div class="col-4">
								<%= f.label :image, "画像ファイル" %>
							</div>
							<div class="col-8">
								<%= f.attachment_field :image %>
							</div>
						</div>
						<%# 商品名登録 %>
						<div class="row mt-3">
							<div class="col-4">
								<%= f.label :title, "商品名" %>
							</div>
							<div class="col-8">
								<%= f.text_field :title %>
							</div>
						</div>
						<%# 金額登録 %>
						<div class="row mt-3">
							<div class="col-4">
								<%= f.label :price, "金額" %>
							</div>
							<div class="col-8">
								<%= f.text_field :price %>円
							</div>
						</div>
						<%# 紹介文登録 %>
						<div class="row mt-3">
							<div class="col-4">
								<%= f.label :body, "紹介文" %>
							</div>
						</div>
						<div class="row">
							<div class="col-8">
								<%= f.text_area :body, size: "40x5" %>
							</div>
						</div>
						<%# 投稿ボタン %>
						<div class="row mt-3">
							<div class="col text-right">
								<%= f.submit "投稿", class: "btn btn-primary" %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col"></div>
	</div>
</div>