<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-8 mt-4">
      <h2>
        オーナーの方は<br>
        こちらから新規会委員登録
      </h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <%# 店舗名登録 %>
        <div class="row">
          <div class="col-5 offset-2">
            <%= f.label :name, "店舗名" %>
          </div>
          <div class="col">
            <%= f.text_field :name, autofocus: true, placeholder: "（例）YOUSEID!" %>
          </div>
        </div>

        <%# メールアドレス登録  %>
        <div class="row">
          <div class="col-5 offset-2">
            <%= f.label :email, "メールアドレス" %>
          </div>
          <div class="col">
            <%= f.email_field :email, autocomplete: "email", placeholder: "（例）youseid!@u_mail.com" %>
          </div>
        </div>

        <%# 郵便番号登録 %>
        <div class="row">
          <div class="col-5 offset-2">
            <%= f.label :postal_code, "郵便番号" %>
          </div>
          <div class="col">
            <%= f.text_field :postal_code, placeholder: "（例）0123456" %>
          </div>
        </div>

        <%# 住所登録 %>
        <div class="row">
          <div class="col-5 offset-2">
            <%= f.label :address, "住所" %>
          </div>
          <div class="col">
            <%= f.text_area :address, placeholder: "（例）東京都武蔵野市吉祥寺南0-1-2" %>
          </div>
        </div>

        <%# パスワード登録 %>
        <div class="row">
          <div class="col-5 offset-2">
            <%= f.label :password, "パスワード（6文字以上）" %>
          </div>
          <div class="col">
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>

        <%# パスワード確認 %>
        <div class="row">
          <div class="col-5 offset-2">
            <%= f.label :password_confirmation, "パスワード確認" %>
          </div>
          <div class="col">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="row actions">
          <div class="col text-center mt-2">
            <%= f.submit "Sign up", value: "新規登録", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col text-right mt-2">
          <%= render "shops/shared/links" %>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
