<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8 mt-4">
            <h2>登録情報編集</h2>

            <%= form_for(@user) do |f| %>

                <%# アカウント名登録 %>
                <div class="row">
                    <div class="col-5 offset-2">
                        <%= f.label :name, "アカウント名" %>
                    </div>
                    <div class="col">
                        <%= f.text_field :name, autofocus: true %>
                    </div>
                </div>

                <%# メールアドレス登録 %>
                <div class="row">
                    <div class="col-5 offset-2">
                        <%= f.label :email, "メールアドレス" %>
                    </div>
                    <div class="col">
                        <%= f.email_field :email, autocomplete: "email" %>
                    </div>
                </div>

                <%# 電話番号登録 %>
                <div class="row">
                    <div class="col-5 offset-2">
                        <%= f.label :phone_number, "電話番号" %>
                    </div>
                    <div class="col">
                        <%= f.text_field :phone_number %>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-right mt-2">
                        <%# 変更内容をupdate、マイページにリダイレクト %>
                        <%= f.submit "変更", class: "btn btn-success" %>
                        <%# 退会ページに遷移　退会は退会ページで行う為遷移のみ %>
                        <%= link_to "退会", cancel_user_path, class: "btn btn-danger" %>
                        <%# 7/8マイページに遷移する戻るボタンを追加 %>
                        <%= link_to "戻る", "/user", class: "btn btn-info" %>
                    </div>
                </div>

            <% end %>
        </div>
        <div class="col"></div>
    </div>
</div>